<template>
  <v-container>
    <template>
    <div class="vld-parent">
        <loading :active.sync="isLoading" 
        :can-cancel="true"       
        :is-full-page="fullPage"></loading>   
    </div>
  </template>
  <v-card>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-card-text>
          <v-card-title>Registro Acta de sitio</v-card-title>
          <v-form ref="form"
                  v-model="valid"
                  lazy-validation>
            <v-row>
              <v-col cols="12" md="3">
                <v-text-field label="Latitud" v-model="recorSite.latitude" disabled></v-text-field>
              </v-col>
              <v-col cols="12" md="2">
                <v-text-field label="Longitud" v-model="recorSite.longitude" disabled></v-text-field>
              </v-col>
              <v-col cols="12" md="1">
                <v-dialog v-model="dialog" persistent max-width="600" @open="size" style="z-index:9999;">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            v-bind="attrs"
                            v-on="on"
                            @click="size"
                    >
                      <v-icon>
                        mdi-map-marker
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <div>
                      <l-map
                              ref="map"
                              v-if="showMap"
                              :zoom="zoom"
                              :center="center"
                              :options="mapOptions"
                               v-on:click="addMarker"
                              style="z-index: 0; height: 200px; width: 800px"
                      >
                        <l-tile-layer
                                :url="url"
                                :attribution="attribution"  
                        />
                        <l-marker :lat-lng="posmaker" >

                        </l-marker>

                      </l-map>
                    </div>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="red darken-1" text @click="dialog = false">Cancelar</v-btn>
                      <v-btn color="green darken-1" text @click="dialog = false">Elegir</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>
              <v-col cols="12" md="3">
                <v-select
                        v-model="recorSite.location_id"
                        :items="localidades"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'Localidad es requerida']"
                        label="Localidad"
                        required
                        @change="onLocationChangue"
                ></v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete
                        v-model="recorSite.neighborhood_id"
                        :items="neighborhoods"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'barrio es requerido']"
                        label="Barrio"
                        required
                        :disabled="!recorSite.location_id"

                ></v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                            v-model="recorSite.date"
                            label="Fecha"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            required
                            :rules="[v => !!v || 'Fecha es requerido']"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="recorSite.date" no-title @input="menu2 = false"></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12" md="3">
                <v-dialog
                        ref="dialog"
                        v-model="modal2"
                        :return-value.sync="recorSite.time"
                        persistent

                        width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                            v-model="recorSite.time"
                            label="Hora "
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            prepend-icon="mdi-clock"
                            required
                            :rules="[v => !!v || 'Fecha es requerido']"

                    ></v-text-field>
                  </template>
                  <v-time-picker
                          v-if="modal2"
                          v-model="recorSite.time"
                          full-width
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.dialog.save(recorSite.time)">OK</v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete
                        v-model="recorSite.characteristics_place_id"
                        :items="places"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'campo requerido']"
                        label="Caracteriticas del lugar donde ocurren los hechos"
                        required
                ></v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete
                        v-model="recorSite.alert_level_id"
                        :items="alerts"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'campo es requerido']"
                        label="Nivel de alerta"
                        required
                ></v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <vuetify-money  v-bind:options="options" label="Duración evento (horas)" v-model="recorSite.duration" required > </vuetify-money>
              </v-col>
              <v-col cols="12" md="3">
                 <vuetify-money  v-bind:options="options" label="Número de familias " v-model="recorSite.n_families" required > </vuetify-money>
              </v-col>
              <v-col cols="12" md="3">
                <vuetify-money  v-bind:options="options" label="Número viviendas " v-model="recorSite.n_homes" required ></vuetify-money >
              </v-col>
              <v-col cols="12" md="3">
                <vuetify-money  v-bind:options="options" label="Número de centros de salud " v-model="recorSite.n_healthcares" required ></vuetify-money >
              </v-col>
              <v-col cols="12" md="3">
              <vuetify-money  v-bind:options="options" label="Número de colegios" v-model="recorSite.n_schools" required ></vuetify-money >
            </v-col>
              <v-col cols="12" md="3">
                <vuetify-money  v-bind:options="options" label="Número de personas afectadas" v-model="recorSite.n_person_affecteds" required ></vuetify-money >
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.risks_zone_id"
                          :items="risk_zones"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'campo es requerido']"
                          label="Localización de las edificaciones con respecto a zonas de retiro, a fuentes de agua y zonas de riesgo"
                          required
                         >

                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.floor_type_id"
                          :items="floor_types"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'campo es requerido']"
                          label=" Caracterizticas geologicas y tipo de suelo"
                          required
                >

                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete v-model="affectation_type_id"
                          :items="affectation_types"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => v.length>0 || 'campo es requerido mwerpwqe']"
                          label="Tipo afectación"
                          required
                          multiple
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <vuetify-money  v-bind:options="options" label="Número personas heridas" v-model="recorSite.n_person_wounds" ></vuetify-money >
              </v-col>
              <v-col cols="12" md="3">
                <vuetify-money  v-bind:options="options" label="Número dpersonas fallecidas" v-model="recorSite.n_person_deads" ></vuetify-money >
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete v-model="recorSite.raitings[0]"
                                :items="geograficas"
                                :item-text="'name'"
                                :item-value="'id'"
                                :rules="[v => !!v || 'campo es requerida']"
                                label="Afectación geografica"
                                required
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete v-model="recorSite.raitings[1]"
                                :items="ambientales"
                                :item-text="'name'"
                                :item-value="'id'"
                                :rules="[v => !!v || 'campo es requerido']"
                                label="Afectación ambiente y recursos naturales"
                                required
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete v-model="recorSite.raitings[2]"
                                :items="sociales"
                                :item-text="'name'"
                                :item-value="'id'"
                                :rules="[v => !!v || 'campo es requerido']"
                                label="Afectación social"
                                required
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete v-model="recorSite.raitings[3]"
                                :items="emergencias"
                                :item-text="'name'"
                                :item-value="'id'"
                                :rules="[v => !!v || 'campo requerido']"
                                label="Cáracteristicas de la emergencia"
                                required
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete v-model="recorSite.raitings[4]"
                                :items="institucionales"
                                :item-text="'name'"
                                :item-value="'id'"
                                :rules="[v => !!v || 'Campo es e']"
                                label="Afectación institucional"
                                required
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete v-model="recorSite.raitings[5]"
                                :items="territoriales"
                                :item-text="'name'"
                                :item-value="'id'"
                                :rules="[v => !!v || 'Campo es requerido']"
                                label="Capacidad de manejo dele ente territorial"
                                required
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-file-input
                        accept="image/*"
                        placeholder="adjuntar imagenes"
                        multiple
                        prepend-icon="mdi-camera"
                        label="Adjuntar Imagenes"
                        v-model="recorSite.images"
                ></v-file-input>
              </v-col>
              <v-col cols="12" md="6">
                <v-textarea
                        class="mx-2"
                        label="observaciones"
                        rows="1"
                        prepend-icon="mdi-comment"
                        v-model="recorSite.observations"
                        :rules="[v => !!v || 'Campo es requerido']"

                        required
                ></v-textarea>
              </v-col>
            </v-row>
            <v-card-actions>
              <v-btn  color="primary" @click="onSubmit">Enviar</v-btn>
            </v-card-actions>
          </v-form>
          </v-card-text>
          </v-row>
      </v-container>
  </v-card>
  </v-container>
  
</template>


<script>
// @ is an alias to /src

import { mapState } from 'vuex'
import { LMap, LTileLayer, LMarker } from "vue2-leaflet";
import { latLng } from "leaflet";
import recordSiteService from "@/services/recordSiteService";

// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  name: 'Create',
  data(){
    return{
    options: {
      length: 11,
      precision: 0
    },
      isLoading: false,
      fullPage: true,
      valid:false,
      recorSite:{
        id:null,
        valid:false,
        latitude:'',
        longitude:'',
        n_families:0,
        n_homes:0,
        n_schools:0,
        n_healthcares:0,
        n_person_affecteds:0,
        risks_zone_id:null,
        floor_type_id:null,
        n_person_wounds:0,
        n_person_deads:0,
        observations:'',
        location_id:null,
        neighborhood_id:null,
        duration:0,
        date:new Date().toISOString().slice(0,10),
        images:[],
        time:new Date().toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit',hour12: false}),
        alert_level_id:null,
        raitings:[],
        characteristics_place_id:null,
      },
      affectation_type_id:[],
      dialog: false,
      neighborhoods:[],
      affectation_types:[],
      modal2:false,
      menu2:false,
      places:[],
      risk_zones:[],
      alerts:[],
      floor_types:[],
      geograficas:[],
      ambientales:[],
      sociales:[],
      emergencias:[],
      institucionales:[],
      territoriales:[],
      localidades: [
        { name: "Localidad 1", id: "1" },
        { name: "Localidad 2", id: "2" },
        { name: "Localidad 3", id: "3" }
      ],
      zoom: 13,
      center: latLng(11.248702, -74.205179),
      url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoiemx1aWZlcjIxIiwiYSI6ImNqbmVyZ2RydDE3aTMzd3A4bnhpd2Q2cWkifQ.Pe5NcznXOZe9P3eAHEMpFA',
      attribution:
              '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      posmaker:latLng(47.41422, -1.250482),
      withTooltip: latLng(47.41422, -1.250482),
      currentZoom: 11.5,
      currentCenter: latLng(11.248702, -74.205179),
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true
    }
  },
  components: {
    Loading,
    LMap,
    LTileLayer,
    LMarker
  },
  computed:{
  ...mapState(['count'])
  },
  mounted() {
    this.getCurrentPos();
    this.fetchArrays();
    this.getRecord();
  },
  methods: {

    async onLocationChangue(){
      const data= await this.axios.get('api/neighborhoods-filter?location_id='+this.recorSite.location_id)
      this.neighborhoods=data.data.data;
    },
    async getRecord()
    {
      const data =await recordSiteService.getRecord(this.$router.history.current.params.id);
      this.recorSite.id=data.id;
      this.recorSite.longitud=data.longitud;
      this.recorSite.latitud=data.latitud;
      this.recorSite.date=data.date;
      this.recorSite.time=data.time.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit',hour12: false});
      this.recorSite.location_id=data.neighborhood.location_id;
      this.onLocationChangue();
      this.recorSite.neighborhood_id=data.neighborhood_id;
      this.recorSite.n_person_deads=data.n_person_deads;
      this.recorSite.n_families=data.n_families;
      this.recorSite.n_homes=data.n_homes;
      this.recorSite.n_schools=data.n_schools;
      this.recorSite.n_healthcares=data.n_healthcares;
      this.recorSite.n_person_affecteds=data.n_person_affecteds;
      this.recorSite.risks_zone_id=data.risks_zone_id;
      this.recorSite.floor_type_id=data.floor_type_id;
      this.recorSite.n_person_wounds=data.n_person_wounds;
      this.recorSite.observations=data.observations;
      this.recorSite.duration=data.duration;
      this.recorSite.alert_level_id=data.alert_level_id;
      this.recorSite.n_person_deads=data.n_person_deads;
      this.recorSite.characteristics_place_id=data.characteristics_place_id;
      this.affectation_type_id=data.affectationTypeid;
      this.recorSite.raitings[0]=data.geograficas_id.id;
      this.recorSite.raitings[1]=data.ambientales_id.id;
      this.recorSite.raitings[2]=data.sociales_id.id;
      this.recorSite.raitings[3]=data.emergencias_id.id;
      this.recorSite.raitings[4]=data.institucionales_id.id;
      this.recorSite.raitings[5]=data.territoriales_id.id;
    },
    getCurrentPos(){
      navigator.geolocation.getCurrentPosition(pos=>{
       this.posmaker= latLng(pos.coords.latitude, pos.coords.longitude);
       this.recorSite.longitude=pos.coords.longitude;
       this.recorSite.latitude=pos.coords.latitude;
      },err=>{
        console.log(err.message)
      })
    },
    innerClick(event) {
      this.recorSite.latitude=event.target.getLatLng().lat;
      this.recorSite.longitude=event.target.getLatLng().lng;
    },

    size( ){
        setTimeout(() => {
        this.$refs.map.mapObject.invalidateSize();
      }, 100);
    },
     addMarker(event) {
       
       this.recorSite.latitude=event.latlng.lat;
       this.recorSite.longitude=event.latlng.lng;
       this.posmaker=event.latlng;
    },
    async fetchArrays()
    {
      const data = await recordSiteService.create()
      this.places=data.places
      this.alerts=data.alerts
      this.risk_zones=data.riskzones
      this.floor_types=data.floor_types
      this.affectation_types=data.affectation_types
      this.geograficas=data.geograficas
      this.sociales=data.sociales
      this.ambientales=data.ambientales
      this.institucionales=data.institucionales
      this.emergencias=data.emergencias
      this.territoriales=data.territoriales
    },
      async onSubmit(){
       try{
         if (this.$refs.form.validate()) {
           this.isLoading = true;
           const response = await recordSiteService.store(this.recorSite,this.affectation_type_id)
           console.log("respuesta",response);
           if (response.status==200) {
             this.isLoading = false
             this.$toast.open({
               message: response.message,
               type: "success",
               duration: 5000,
               dismissible: true,
               position:'top-right'
             })
             this.$router.push('/sitio');
           }else{
             this.isLoading = false
              this.$toast.open({
                message: response,
                type: "error",
                duration: 5000,
                dismissible: true,
                position:'top-right'
              })
           }
         }else{
            this.$toast.open({
                message: "por favor complete el formulario",
                type: "error",
                duration: 5000,
                dismissible: true,
                position:'top-right'
              })
         }
       }catch (e) {
         this.isLoading = false
         this.$toast.open({
           message: e,
           type: "error",
           duration: 5000,
           dismissible: true,
           position:'top-right'
         })
       }
    }

  }
}
</script>
