<template>
    <v-container>
        <v-row>
            <v-col>
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="5"
                        class="elevation-1"
                        item-key="id"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Listado de Registros</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <router-link
                                    to="/sitio/create"
                                    tag="v-btn"
                            >
                                <v-btn
                                        color="primary"
                                        dark
                                        class="mb-2"
                                        
                                >
                                    <span>Nuevo Registro</span>

                                </v-btn>
                            </router-link>



                        </v-toolbar>
                    </template>
                    <template v-slot:item.affectation_type="{ item }">
                        <td class="text-start">
                            <h3 v-for="affectation_type in item.affectation_type" :key="affectation_type.id">{{affectation_type.name}},<br></h3>
                        </td>
                    </template>

                    <template v-slot:item.actions="{ item }">
                        <router-link
                                :to="{ name: 'sitio_edit', params: { id: item.id } }"
                                tag="v-btn"
                        >
                            <v-icon
                                    small
                                    class="mr-2"
                            >
                                mdi-pencil
                            </v-icon>
                        </router-link>
                        <v-icon
                                small
                                @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                   
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import recordSiteService from "@/services/recordSiteService";

    export default {
        name: "Index",
        data:()=>({
            items:[],
            headers:[
                {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {
                    text: 'Nivel Alerta',
                    value: 'alert_level.name',
                },
                {
                    text: 'Tipo Afectacion',
                    value: 'affectation_type',
                },
                {
                    text: 'Barrio ',
                    value: 'neighborhood.name',
                },
                {
                    text: 'Fecha',
                    value: 'date',

                },
                {
                    text: '# Heridos',
                    value: 'n_person_wounds',
                },
                {
                    text: '# fallecidos',
                    value: 'n_person_deads',
                },
                {
                    text: '# Familias',
                    value: 'n_families',
                },
                { text: 'Actions',
                    value: 'actions',
                    sortable: false
                }
            ]
        }),
        mounted(){
          this.getItems();
        },
        methods:{
            async getItems()
            {
                const items = await recordSiteService.getItems()
                console.log(items.data)
                this.items=items.data
            },
            async deleteItem (item) {
                const index = this.items.indexOf(item)
                confirm('Esta usted seguro?')
                const respone = await recordSiteService.delete(item)
                if(respone.success){
                    this.items.splice(index, 1)
                }
            },
            async clone(item){
                confirm('Esta usted seguro?')
                const response = await recordSiteService.clone(item.id)
                this.$toast.open({
                    message: response.message,
                    type: "success",
                    duration: 5000,
                    dismissible: true,
                    position:'top-right'
                })
                this.$router.push('/sitio');
            }
        }
    }
</script>

<style scoped>

</style>
