<template>
    <v-container>
        <v-row>
            <v-col>
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="5"
                        class="elevation-1"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Listado de grupos</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-bind="attrs"
                                            v-on="on"
                                    >Nuevo grupo</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">Crear Grupo</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="Nombre" v-model="item.name"></v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="dialog = false">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="onSubmit">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                                small
                                class="mr-2"
                                @click="editItem(item)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon
                                small
                                @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import groupService from "@/services/groupService";
    export default {
        name: "Index",
        data:()=>({
            dialog: false,
            items:[],
            indexItem:null,
            item:{
                name:''
            },
            headers:[
                {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {
                    text: 'Nombre',
                    value: 'name',
                },
                { text: 'Actions', value: 'actions', sortable: false }
            ]
        }),
        mounted() {
            this.getItems();
        },
        methods:
        {
            async getItems()
            {
                const items = await groupService.getGroups()
                this.items=items.data
            },
            async onSubmit()
            {
                const {item}=this
                if(this.indexItem)
                {
                    const response = await groupService.edit(item)
                    if(response.success){
                        this.items[this.indexItem]=response.data
                    }
                }else
                {
                    const response = await groupService.store(item)
                    if(response.success){
                        this.items.push(response.data)

                    }
                }
                this.dialog=false

            },
            async editItem (item) {
                this.item = item
                this.dialog = true
                this.indexItem = this.items.indexOf(item)
            },
            async deleteItem (item) {
                const index = this.items.indexOf(item)
                confirm('Esta usted seguro?')
                    const respone = await groupService.delete(item)
                    if(respone.success){
                        this.items.splice(index, 1)
                    }
            }

        }

    }
</script>

<style scoped>

</style>
