<template>
    <v-container>
        <v-row>
            <v-col>
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="5"
                        class="elevation-1"
                        item-key="id"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Listado de usuarios</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-bind="attrs"
                                            v-on="on"
                                            @click="open"

                                    >Nuevo usuario</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{ formTitle }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="Nombre" v-model="user.name" required></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="Apellido" v-model="user.lastname" required></v-text-field>
                                                </v-col>
                                                <v-col cols="12" md="4">
                                                    <v-autocomplete v-model="user.indentification_type_id"
                                                                    :items="dniTypes"
                                                                    :item-text="'name'"
                                                                    :item-value="'id'"
                                                                    :rules="[v => !!v || 'Localidad es requerida']"
                                                                    label="Tipo de documento"
                                                                    required
                                                    >
                                                    </v-autocomplete>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="Documento" v-model="user.dni"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field type="email" label="Correo" v-model="correo"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="Telefono" v-model="telefono"></v-text-field>
                                                </v-col>

                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="onSubmit">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>

                    <template v-slot:item.actions="{ item }">
                        <v-icon
                                small
                                class="mr-2"
                                @click="editItem(item)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon
                                small
                                @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import userService from "@/services/userService";
    import roleService from "@/services/roleService";
    import groupService from "@/services/groupService";
    import dniTypeService from "@/services/dniTypeService";

    export default {
        name: "Index",
        data:()=>({
            dialog: false,
            items:[],
            indexItem:null,
            areas:[],
            roles:[],
            dniTypes:[],
            location_id:null,
            neighborhoods:[],
            localidades: [
                { name: "Localidad 1", id: "1" },
                { name: "Localidad 2", id: "2" },
                { name: "Localidad 3", id: "3" }
            ],
            telefono:null,
            correo:null,
            user:{
                name:null,
                indentification_type_id:null,
                role_id:4,
                email:null,
                lastname:null,
                metas:[],
                dni:null,
                id:null,
                neighborhood_id:null,
            },
            headers:[
                {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {
                    text: 'Nombre',
                    value: 'name',
                },
                {
                    text: 'Apellido',
                    value: 'lastname',
                },
                {
                    text: 'Identificacion',
                    value: 'dni',
                },
                {
                    text: 'Correo',
                    value: 'metas.correo',

                },
                {
                    text: 'Telefono',
                    value: 'metas.telefono',
                },
                { text: 'Actions',
                    value: 'actions',
                    sortable: false
                }
            ]
        }),
        computed: {
            formTitle () {
                return this.editedIndex == null? 'Nuevo Cobasa' : 'Editar Cobasa'
            },
        },
        mounted() {
            this.getItems();
            this.fetchArrays();
        },
        methods:
        {
            async getItems()
            {
                const items = await userService.getPeople(true)
                this.items=items.data
            },
             async onSubmit()
            {
                this.user.metas = [
                    {
                        key: 'correo',
                        value: this.correo
                    },
                    {
                        key: 'telefono',
                        value: this.telefono
                    }
                ];
                const {user}=this
                if(this.indexItem!=null)
                {
                    const response = await userService.editPeople(user)

                    if(response.success){

                        Object.assign(this.items[this.indexItem], response.data)
                        this.indexItem=null

                    }
                }else
                {
                    const response = await userService.storePerson(user)

                    if(response.success){

                        this.items.push(response.data)
                    }
                }
                this.dialog=false

            },
            cancel(){
                this.indexItem=null
                this.dialog=false
                console.log(this.indexItem)
            },
            open(){
                console.log(this.indexItem)
                if(this.indexItem==null){
                    this.user={
                        name:null,
                            indentification_type_id:null,
                            role_id:4,
                            email:null,
                            lastname:null,
                            metas:[],
                            dni:null,
                            id:null,
                            neighborhood_id:null,                    }
                }
                this.telefono=null
                this.correo=null
            }
            ,
            async onLocationChangue(){
                const data= await this.axios.get('api/neighborhoods-filter?location_id='+this.location_id)
                this.neighborhoods=data.data.data;
            },
            async editItem (item) {

                this.user.name = item.name
                this.user.lastname = item.lastname
                this.user.id=item.id
                this.user.dni = item.dni
                this.user.neighborhood_id = item.neighborhood_id
                this.user.indentification_type_id=item.indentification_type_id
                this.correo = item.metas.correo
                this.telefono =  item.metas.telefono
                this.dialog = true
                this.indexItem = this.items.indexOf(item)


            },
            async deleteItem (item) {
                const index = this.items.indexOf(item)
                confirm('Esta usted seguro?')
                const respone = await userService.deletePeople(item)
                if(respone.success){
                    this.items.splice(index, 1)
                }
            },
            async fetchArrays()
            {
                const roles = await roleService.getRoles()
                const areas = await groupService.getGroups()
                const dniTypes = await dniTypeService.getDniType()
                this.roles = roles.data
                this.areas = areas.data
                this.dniTypes= dniTypes.data
            }

        }
    }
</script>

<style scoped>

</style>
