<template>

    <v-container>
        <v-row>
            <v-col
                    v-for="(item, i) in items"
                    :key="i"
                    cols="12"
                    md="4"

            >
                <v-card v-if="item.text"
                        color="#607d8b"
                        dark
                >
                    <div class="d-flex flex-no-wrap justify-space-between">
                        <div>
                            <v-card-title
                                    class="headline"
                                    v-text="item.text"
                            ></v-card-title>

                            <v-card-subtitle v-text="item.total"></v-card-subtitle>
                        </div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <v-row class="mb-6">
            <v-col cols="6">
                <v-card>
                    <bar :chartData="chartSitio" v-if="chartSitio"></bar>
                </v-card>
            </v-col>
            <v-col cols="6">
                <v-card>
                    <bar :chartData="chartVisita" v-if="chartVisita"></bar>
                </v-card>
            </v-col>

        </v-row>
    </v-container>
</template>

<script>
    import dashboardService from "@/services/dashboardService";
    import Bar from "@/components/Bar";

    export default {
        name: "Index",

        components:{
            Bar
        },
        data:()=>({
            items:[],
            chartSitio:null,
            data_sitio:null,
            chartVisita:null,
            data_visita:null,
        }),
        mounted(){
            this.getItems()
        },
        methods:{
            async getItems(){
                const data = await dashboardService.getItems()
                this.items=data
                this.data_visita=data.data_homes
                this.data_sitio=data.data_sites
                this.fillData()

            },
            fillData(){
                console.log(this.data_sitio)
                this.chartVisita={
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                        {
                            label: 'Actas de sitio',
                            backgroundColor: '#79f8da',
                            data: this.data_visita
                        }
                    ]
                }
                this.chartSitio={
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                        {
                            label: 'Actas de sitio',
                            backgroundColor: '#8c79f8',
                            data: this.data_sitio
                        }
                    ]
                }


            }
        },


    }
</script>

<style >

</style>
