<template>
    <div>
        <v-app id="inspire">
            <v-main>
                <v-container
                        class="fill-height"
                        fluid
                >
                    <v-row
                            align="center"
                            justify="center"
                    >
                        <v-col
                                cols="12"
                                sm="8"
                                md="4"
                        >
                            <v-card class="elevation-12">
                                <v-toolbar
                                        color="primary"
                                        dark
                                        flat
                                >
                                    <v-toolbar-title>Inicio de sesión</v-toolbar-title>
                                    <v-spacer></v-spacer>

                                </v-toolbar>
                                <v-card-text>
                                    <v-form ref="form"
                                            v-model="valid"
                                            lazy-validation
                                            @submit.prevent="onLogin">
                                        <v-text-field
                                                label="Correo"
                                                name="login"
                                                prepend-icon="mdi-account"
                                                type="text"
                                                v-model="email"
                                                :rules="[v => !!v || 'Ingrese correo ']"
                                                required
                                        >

                                        </v-text-field>

                                        <v-text-field
                                                id="password"
                                                label="Contraseña"
                                                name="password"
                                                prepend-icon="mdi-lock"
                                                type="password"
                                                v-model="password"
                                                :rules="[v => !!v || 'Digite su contraseña']"
                                                required
                                        ></v-text-field>
                                         <v-alert
                                            border="top"
                                            color="red lighten-2"
                                            dark
                                            v-if="msg"
                                            >
                                           {{msg}}
                                            </v-alert>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="primary" type="submit">Login</v-btn>
                                        </v-card-actions>
                                    </v-form>
                                </v-card-text>

                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>

<script>

  import { mapState } from 'vuex'
  import AuthService from '@/services/AuthService.js';

    export default {
        name: "Login",
        data (){
            return {
                email: '',
                password: '',
                msg:'',
                valid:false
            };
        },
        mounted () {
            if (this.$store.getters.isLoggedIn) {
                this.$router.push('/');
            }
        },
        computed:{
            ...mapState(['accessToken']),
        },
        methods:{
           async onLogin(){
               if (this.$refs.form.validate()) {
                const {  password,email } = this;
                const response = await AuthService.login(email,password);
                if(response){
                    const token = response.access_token
                    this.$store.dispatch('login', { token });
                    location.reload(true);
                }else{
                    //this.email='';
                    //this.password='';
                    this.msg= "Usuario o contraseña incorrecta"
                }
                }

            }
        }
    }
</script>

<style scoped>

</style>
