<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                app
        >
            <v-img :aspect-ratio="16/9" src="@/assets/user.png">
                <v-row align="end" class="lightbox white--text pa-2 fill-height">
                    <!--<v-col>
                        <div class="subheading">Jonathan Lee</div>
                        <div class="body-1">heyfromjonathan@gmail.com</div>
                    </v-col>-->
                </v-row>
            </v-img>

            <v-list dense>
                <v-list-item
                        link
                        router to="/grupos"
                        v-if="verifyRole('Director')"
                >
                    <v-list-item-action>
                        <v-icon>mdi-account-group</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Grupos</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                             link
                             router to="/usuarios"
                             v-if="verifyRole('Director')"

                >
                    <v-list-item-action>

                        <v-icon>mdi-face-profile</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Usuarios</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                             link
                             router to="/cobasas"
                             v-if="verifyRole('Director') || verifyRole('Lider Cobasa')"

                >
                    <v-list-item-action>

                        <v-icon>mdi-fire-truck</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Cobasas</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                             link
                             router to="/sitio"
                             v-if="verifyRole('Director') || verifyRole('Lider Cobasa') || verifyRole('Lider Area')"


                >
                    <v-list-item-action>

                        <v-icon>mdi-home-alert</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Acta Sitio</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                             link

                             router to="/visita"
                             v-if="verifyRole('Director') || verifyRole('Lider Cobasa') || verifyRole('Lider Area')"
                >
                    <v-list-item-action>

                        <v-icon>mdi-home-map-marker</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title> Acta Visita</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                             link
                             router to="/bitacoras"
                             v-if="verifyRole('Director') || verifyRole('Lider Cobasa') || verifyRole('Lider Area')"
                >
                    <v-list-item-action>

                        <v-icon>mdi-clock-alert</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Bitacoras</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>


            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                color="indigo"
                dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>
                <router-link
                    to="/" >
                    <v-btn icon>
                        <span>Inicio</span>
                    </v-btn>
            </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn icon @click="logout">
                <span>Salir</span>

            </v-btn>
        </v-app-bar>



    </v-app>
</template>
<script>
    import { mapState } from 'vuex'
    import userService from "@/services/userService";
    export default {
        name: "Navbar",
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
            roles:[],
            items: [
                {
                    to: "/grupos",
                    icon: "mdi-email",
                    text: "Grupos"
                },
                {
                    to: "/usuarios",
                    icon: "mdi-email",
                    text: "Usuarios"
                },
                {
                    to: "/cobasas",
                    icon: "mdi-email",
                    text: "Cobasas"
                },
                {
                    to: "/sitio",
                    icon: "mdi-email",
                    text: "Actas de sitio"
                },
                {
                    to: "/visita",
                    icon: "mdi-email",
                    text: "Acta Visita"
                },
                {
                    to: "/bitacoras",
                    icon: "mdi-email",
                    text: "Bitacoras"
                }

            ]

        }),
        mounted() {
            //console.log(this.accessToken)


        },
        computed: {
            ...mapState(['accessToken']),
        },
        created() {

            if (!this.$store.getters.isLoggedIn) {
                this.$router.push('/login');
            }
            this.getUser();

        },
        methods: {
            logout() {
                this.$store.dispatch('logout');
                this.$laravel.setRoles([]);
                location.reload(true);
            },
            async getUser()
            {
                const response = await userService.getCurrentUser();
                console.log(response)
                if(response.status==401){
                    this.logout();
                }
                this.roles=response.data.data.roles;

            },
            verifyRole(role){
                const found = this.roles.find(element => element == role);
                //console.log(this.roles)
                return found;
            }
        }
    }
</script>

<style >
    .v-application--wrap{
        min-height: 0px !important;
    }

</style>
