<template>
  <v-container>
  <v-card>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-card-text>
          <v-card-title>Registro Acta de  vivienda</v-card-title>
          <v-form  ref="form"
                   v-model="valid"
                   lazy-validation >
            <v-row>
              <v-col cols="12" md="3">
                <v-text-field label="Latitud" v-model="recorSite.latitud" disabled></v-text-field>
              </v-col>
              <v-col cols="12" md="2">
                <v-text-field label="Longitud" v-model="recorSite.longitud" disabled></v-text-field>
              </v-col>
              <v-col cols="12" md="1">
                <v-dialog v-model="dialog" persistent max-width="600" @open="size" style="z-index:9999;">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            v-bind="attrs"
                            v-on="on"
                            @click="size"
                    >
                      <v-icon>
                        mdi-map-marker
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <div>
                      <l-map
                              ref="map"
                              v-if="showMap"
                              :zoom="zoom"
                              :center="center"
                              :options="mapOptions"
                               v-on:click="addMarker"
                              style="z-index: 0; height: 200px; width: 800px"
                      >
                        <l-tile-layer
                                :url="url"
                                :attribution="attribution"
                        />
                        <l-marker :lat-lng="posmaker" >

                        </l-marker>

                      </l-map>
                    </div>
                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn color="green darken-1" text @click="dialog = false">Elegir</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>
              <v-col cols="12" md="3">
                <v-select
                        v-model="recorSite.location_id"
                        :items="localidades"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'Localidad es requerida']"
                        label="Localidad"
                        required
                        @change="onLocationChangue"
                ></v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-autocomplete
                        v-model="recorSite.neighborhood_id"
                        :items="neighborhoods"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'barrio es requerido']"
                        label="Barrio"
                        required
                        :disabled="!recorSite.location_id"

                ></v-autocomplete>
              </v-col>
              <v-col cols="12" md="3">
                <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                            v-model="recorSite.date"
                            label="Fecha"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="recorSite.date" no-title @input="menu2 = false"></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12" md="3">
                <v-dialog
                        ref="dialog"
                        v-model="modal2"
                        :return-value.sync="recorSite.time"
                        persistent

                        width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                            v-model="recorSite.time"
                            label="Hora "
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            prepend-icon="mdi-clock"

                    ></v-text-field>
                  </template>
                  <v-time-picker
                          v-if="modal2"
                          v-model="recorSite.time"
                          full-width
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.dialog.save(recorSite.time)">OK</v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Nombre" v-model="recorSite.persona.name"></v-text-field>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Apellido"  v-model="recorSite.persona.lastname"></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.persona.indentification_type_id"
                          :items="identifiaction_types"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Tipo Identificación"
                          required
                >
                </v-select>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Documento" v-model="recorSite.persona.dni"></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-menu
                        v-model="menu3"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                            v-model="recorSite.persona.birth_date"
                            label="Fecha nacimiento"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="recorSite.persona.birth_date" no-title @input="menu3 = false"></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.persona.gender_id"
                          :items="genders"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Sexo"
                          required
                >
                </v-select>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Dirección" v-model="direccion"></v-text-field>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Telefono" v-model="telefono"></v-text-field>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Duración evento" type="number" v-model="recorSite.duration"></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="health_value"
                          :items="health_status"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Estado de salud"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
              <v-select v-model="afiliacion_value"
                        :items="affiliation"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'Campo requerido']"
                        label="Afiliación a regimen de salud"
                        required
              >
              </v-select>
            </v-col>
              <v-col cols="12" md="3">
              <v-select v-model="cabeza"
                        :items="booleans"
                        :item-text="'name'"
                        :item-value="'id'"
                        :rules="[v => !!v || 'Campo requerido']"
                        label="¿Es madre cabeza de familia?"
                        required
              >
              </v-select>
            </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Número de personas que habitan la vivienda" type="number" v-model="recorSite.n_persons_home"></v-text-field>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Número de familias" type="number" v-model="recorSite.n_families"></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.site_id"
                          :items="sites"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Ubicación"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.property_type_id"
                          :items="property_types"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Propiedad del inmueble"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.unity_type_id"
                          :items="unities_types"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Tipo unidad de vivienda"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.home_status_id"
                          :items="home_status"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Estado del inmueble"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.material_id"
                          :items="materiales"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Material predominante en las paredes exteriores"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.normativity"
                          :items="booleans"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Cumplimiento de la normatividad vigente"
                          required
                >
                </v-select>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Antiguedad de la edificación" type="number" v-model="recorSite.age"></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.risks_zone_id"
                          :items="risk_zones"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Localización de las edificaciones con respecto a zonas de retiro, a fuentes de agua y zonas de riesgo"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.floor_type_id"
                          :items="floor_types"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label=" Caracterizticas geologicas y tipo de suelo"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="services_ids"
                          :items="service"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => v.length > 0|| 'Campo requerido']"
                          label="Servicios"
                          required
                          multiple
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.stratum"
                          :items="stratum"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Estrato"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="recorSite.risk"
                          :items="booleans"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => !!v || 'Campo requerido']"
                          label="Conocimiento del riesgo"
                          required
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="affectation_type_id"
                          :items="affectation_types"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => v.length>0 || 'Campo requerido']"
                          label="Tipo Afectación"
                          multiple
                          required
                >
                </v-select>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Número de personas heridas" type="number" v-model="recorSite.n_person_wounds"></v-text-field>
              </v-col>
              <v-col  cols="12" md="3">
                <v-text-field  label="Número de personas fallecidas" type="number" v-model="recorSite.n_person_deads"></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-select v-model="help_id"
                          :items="helps"
                          :item-text="'name'"
                          :item-value="'id'"
                          :rules="[v => v.length>0 || 'Campo requerido']"
                          label="Tipo ayudas"
                          required
                          multiple
                >
                </v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-file-input
                        accept="image/*"
                        placeholder="adjuntar imagenes"
                        multiple
                        prepend-icon="mdi-camera"
                        label="Adjuntar Imagenes"
                        v-model="recorSite.images"
                ></v-file-input>
              </v-col>
              <v-col cols="12" md="6">
                <v-textarea
                        class="mx-2"
                        label="observaciones"
                        rows="1"
                        prepend-icon="mdi-comment"
                        v-model="recorSite.description"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-card-actions>
              <v-btn  color="primary" @click="onSubmit">Enviar</v-btn>
            </v-card-actions>
          </v-form>

          </v-card-text>

          </v-row>
      </v-container>
  </v-card>
  </v-container>
</template>

<script>
// @ is an alias to /src

import { mapState } from 'vuex'
import { LMap, LTileLayer, LMarker } from "vue2-leaflet";
import { latLng } from "leaflet";
import recordHomeService from "@/services/recordHomeService";



export default {
  name: 'Create',
  data(){
    return{
      valid:false,
      direccion:null,
      telefono:null,
      health_value:null,
      afiliacion_value:null,
      cabeza:null,
      service:[],
      affectation_type_id:[],
      services_ids:[],
      help_id:[],
      recorSite:{
        persona:{
          indentification_type_id:null,
          name:null,
          lastname:null,
          gender_id:null,
          birth_date:null,
          dni:null,
          metas:[]
        },
        id:null,
        latitud:null,
        longitud:null,
        neighborhood_id:null,
        person_id:null,
        date:new Date().toISOString().slice(0,10),
        time:new Date().toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit',hour12: false}),
        duration:0,
        n_persons_home:0,
        n_families:0,
        site_id:null,
        property_type_id:null,
        unity_type_id:null,
        home_status_id:null,
        material_id:null,
        normativity:null,
        risks_zone_id:null,
        floor_type_id:null,
        stratum:1,
        risk:null,
        n_person_wounds:0,
        n_person_deads:0,
        age:0,
        description:''
      },
      dialog: false,
      neighborhoods:[],
      modal2:false,
      menu2:false,
      menu3:false,
      risk_zones:[],
      floor_types:[],
      genders:[],
      helps:[],
      materiales:[],
      sites:[],
      property_types:[],
      unities_types:[],
      affectation_types:[],
      identifiaction_types:[],
      home_status:[],
      health_status:[
        { name: "Requiere asistencia médica", id: "Requiere asistencia médica" },
        { name: "No requiere asistencia médica", id: "No requiere asistencia médica" },
        ],
      localidades: [
        { name: "Localidad 1", id: 1 },
        { name: "Localidad 2", id: 2 },
        { name: "Localidad 3", id: 3 }
      ],
      affiliation: [
        { name: "Contributivo", id: "1" },
        { name: "Subsidiado", id: "2" },
        { name: "Sin afiliación", id: "3" }
      ],
      booleans:[
              { name: "Si", id: "1"},
              { name: "No", id: "0"}
              ],
      stratum:[
              { name: "1", id: 1 },
              { name: "2", id: 2 },
              { name: "3", id: 3 },
              { name: "4", id: 4 },
              { name: "5", id: 5 },
              { name: "6", id: 6 }
        ],
      zoom: 13,
      center: latLng(11.248702, -74.205179),
      url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoiemx1aWZlcjIxIiwiYSI6ImNqbmVyZ2RydDE3aTMzd3A4bnhpd2Q2cWkifQ.Pe5NcznXOZe9P3eAHEMpFA',
      attribution:
              '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      posmaker:latLng(47.41422, -1.250482),
      withTooltip: latLng(47.41422, -1.250482),
      currentZoom: 11.5,
      currentCenter: latLng(11.248702, -74.205179),
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true
    }
  },
  components: {

    LMap,
    LTileLayer,
    LMarker

  },
  computed:{
  ...mapState(['count'])
  },

  mounted() {
    this.getCurrentPos();
    this.fetchArrays();
    this.getRecord();

  },
  methods: {
    async onLocationChangue(){
      const data= await this.axios.get('api/neighborhoods-filter?location_id='+this.recorSite.location_id)
      this.neighborhoods=data.data.data;
    },
        addMarker(event) {       
       this.recorSite.latitud=event.latlng.lat;
       this.recorSite.longitud=event.latlng.lng;
       this.posmaker=event.latlng;
    },
    async getRecord(){
      const data =await recordHomeService.getRecord(this.$router.history.current.params.id);
      this.recorSite.longitud=data.longitud;
      this.recorSite.id=data.id;
      this.recorSite.latitud=data.latitud;
      this.recorSite.date=data.date;
      this.recorSite.time=data.time;
      this.recorSite.duration=data.duration;
      this.recorSite.n_persons_home=data.n_persons_home;
      this.recorSite.site_id=data.site_id;
      this.recorSite.property_type_id=data.property_type_id;
      this.recorSite.unity_type_id=data.unity_type_id;
      this.recorSite.home_status_id=data.home_status_id;
      this.recorSite.material_id=data.material_id;
      this.recorSite.normativity=data.normativity;
      this.recorSite.risks_zone_id=data.risks_zone_id;
      this.recorSite.floor_type_id=data.floor_type_id;
      this.recorSite.stratum=data.stratum;
      this.recorSite.risk=data.risk;
      this.recorSite.n_person_wounds=data.n_person_wounds;
      this.recorSite.n_person_deads=data.n_person_deads;
      this.recorSite.age=data.age;
      this.recorSite.location_id=data.neighborhood.location_id;
      this.onLocationChangue();
      this.recorSite.neighborhood_id=data.neighborhood_id;
      this.direccion=data.person.metas.direccion;
      this.telefono=data.person.metas.telefono;
      this.health_value=data.person.metas.salud;
      this.afiliacion_value=data.person.metas.afiliacion;
      this.cabeza=data.person.metas.cabeza_familia;
      this.recorSite.persona=data.person;
      this.recorSite.persona.gender_id=parseInt(data.person.metas.gender_id);
      this.recorSite.persona.id=parseInt(data.person.id);
      this.recorSite.persona.indentification_type_id=parseInt(data.person.indentification_type_id);
      this.services_ids=data.serviceid;
      this.recorSite.description=data.description;
      this.help_id=data.helpid;
      this.affectation_type_id=data.affectationTypeid;

    },
    getCurrentPos(){
      navigator.geolocation.getCurrentPosition(pos=>{
       this.posmaker= latLng(pos.coords.latitude, pos.coords.longitude);
       this.recorSite.latitud=pos.coords.latitude;
       this.recorSite.longitud=pos.coords.longitude;
      },err=>{
        console.log(err.message)
      })
    },
    innerClick(event) {
      this.recorSite.latitud=event.target.getLatLng().lat;
      this.recorSite.longitud=event.target.getLatLng().lng;
    },
    size( ){
        setTimeout(() => {
        this.$refs.map.mapObject.invalidateSize();
      }, 100);
    },
    async fetchArrays()
    {
      const data = await recordHomeService.create()
      this.genders=data.genders
      this.risk_zones=data.riskzones
      this.floor_types=data.floor_types
      this.affectation_types=data.affectation_types
      this.helps=data.helps
      this.materiales=data.materiales
      this.sites=data.sites
      this.property_types=data.property_types
      this.unities_types=data.unities_types
      this.home_status=data.home_status
      this.identifiaction_types=data.identifiaction_types
      this.service=data.services

    },
    async onSubmit(){
      if (this.$refs.form.validate()) {
        try {
          this.recorSite.persona.metas = [
            {
              key: 'direccion',
              value: this.direccion
            },
            {
              key: 'telefono',
              value: this.telefono
            },
            {
              key: 'salud',
              value: this.health_value
            },
            {
              key: 'cabeza_familia',
              value: this.cabeza
            },
            {
              key: 'afiliacion',
              value: this.afiliacion_value
            },
            {
              key: 'gender_id',
              value: this.recorSite.persona.gender_id
            },

          ];
          const response = await recordHomeService.store(this.recorSite,this.services_ids,this.affectation_type_id,this.help_id,this.recorSite.id)
          if (response) {
            this.$toast.open({
              message: response.message,
              type: "success",
              duration: 5000,
              dismissible: true,
              position:'top-right'
            })
            this.$router.push('/visita');
          }
        } catch (e) {
          this.$toast.open({
            message: e,
            type: "error",
            duration: 5000,
            dismissible: true,
            position:'top-right'
          })
        }
      }else{
        console.log('ee')
      }
    }

  }
}
</script>
