<template>
    <v-container>
        <v-row>
            <v-col>
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="5"
                        class="elevation-1"
                        item-key="id"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Listado de Registros</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <router-link
                                    to="/visita/create"
                            >
                                <v-btn
                                        color="primary"
                                        dark
                                        class="mb-2"

                                >
                                    <span>Nuevo Registro</span>

                                </v-btn>
                            </router-link>



                        </v-toolbar>
                    </template>
                    <template v-slot:item.affectation_type="{ item }">

                        <td class="text-start">
                            <h v-for="affectation_type in item.affectation_type" :key="affectation_type.id">{{affectation_type.name}},<br></h>
                        </td>
                    </template>
                    <template v-slot:item.help="{ item }">

                     <td class="text-start">
                         <h v-for="help in item.help" :key="help.id">{{help.name}},<br></h>
                     </td>
                    </template>

                    <template v-slot:item.actions="{ item }">
                        <router-link
                                :to="{ name: 'visita_edit', params: { id: item.id } }"
                                tag="v-btn"
                        >
                        <v-icon
                                small
                                class="mr-2"

                        >
                            mdi-pencil
                        </v-icon>
                        </router-link>
                        <v-icon
                                small
                                @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                        <v-icon
                                small
                                class="mr-2"
                                @click="download()"
                        >
                            mdi-export
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

    import recordHomeService from "@/services/recordHomeService";

    export default {
        name: "Index",
        data:()=>({
            items:[],
            headers:[
                {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {
                    text: 'Nombres',
                    value: 'person.name',
                },
                {
                    text: 'Nombres',
                    value: 'person.lastname',
                },
                {
                    text: 'Documento',
                    value: 'person.dni',
                },
                {
                    text: 'Barrio ',
                    value: 'neighborhood.name',
                },
                {
                    text: 'Fecha',
                    value: 'date',

                },
                {
                    text: 'Tipo afectacion',
                    value: 'affectation_type',
                },
                {
                    text: 'Typo ayuda',
                    value: 'help',
                },

                { text: 'Actions',
                    value: 'actions',
                    sortable: false
                }
            ]
        }),
        mounted(){
          this.getItems();
        },
        methods:{
            async getItems()
            {
                const items = await recordHomeService.getItems()
                this.items=items.data
            },
            async deleteItem (item) {
                const index = this.items.indexOf(item)
                confirm('Esta usted seguro?')
                const respone = await recordHomeService.delete(item)
                if(respone.success){
                    this.items.splice(index, 1)
                }
            },
            async download() {
                try {
                    let newWindow = window.open()
                        const response = await recordHomeService.export()
                        newWindow.location = response.url

                } catch (e) {
                    console.log(e)
                }
            },
           async clone(item){
                confirm('Esta usted seguro?')
                const response = await recordHomeService.clone(item.id)
                this.$toast.open({
                   message: response.message,
                   type: "success",
                   duration: 5000,
                   dismissible: true,
                   position:'top-right'
               })
               this.$router.push('/visita');
            }
        }
    }
</script>

<style scoped>

</style>
