<template>
    <v-container>
        <v-row>
            <v-col>
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="5"
                        class="elevation-1"
                        item-key="id"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Listado de registros</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="800px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-bind="attrs"
                                            v-on="on"
                                            @click="open"

                                    >Nuevo Registro</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{ formTitle }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-menu
                                                            v-model="menu2"
                                                            :close-on-content-click="false"
                                                            transition="scale-transition"
                                                            offset-y
                                                            max-width="290px"
                                                            min-width="290px"
                                                    >
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-text-field
                                                                    v-model="bitacora.date"
                                                                    label="Fecha"
                                                                    prepend-icon="mdi-calendar"
                                                                    readonly
                                                                    v-bind="attrs"
                                                                    v-on="on"
                                                            ></v-text-field>
                                                        </template>
                                                        <v-date-picker v-model="bitacora.date" no-title @input="menu2 = false"></v-date-picker>
                                                    </v-menu>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-dialog
                                                            ref="dialog"
                                                            v-model="modal2"
                                                            :return-value.sync="bitacora.time"
                                                            persistent

                                                            width="290px"
                                                    >
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-text-field
                                                                    v-model="bitacora.time"
                                                                    label="Hora "
                                                                    readonly
                                                                    v-bind="attrs"
                                                                    v-on="on"
                                                                    prepend-icon="mdi-clock"

                                                            ></v-text-field>
                                                        </template>
                                                        <v-time-picker
                                                                v-if="modal2"
                                                                v-model="bitacora.time"
                                                                full-width
                                                        >
                                                            <v-spacer></v-spacer>
                                                            <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
                                                            <v-btn text color="primary" @click="$refs.dialog.save(bitacora.time)">OK</v-btn>
                                                        </v-time-picker>
                                                    </v-dialog>
                                                </v-col>

                                                <v-col cols="12" md="4">
                                                    <v-select
                                                            v-model="location_id"
                                                            :items="localidades"
                                                            :item-text="'name'"
                                                            :item-value="'id'"
                                                            :rules="[v => !!v || 'Localidad es requerida']"
                                                            label="Localidad"
                                                            required
                                                            @change="onLocationChangue"
                                                    ></v-select>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-autocomplete
                                                            v-model="bitacora.neighborhood_id"
                                                            :items="neighborhoods"
                                                            :item-text="'name'"
                                                            :item-value="'id'"
                                                            :rules="[v => !!v || 'barrio es requerido']"
                                                            label="Barrio"
                                                            required
                                                            :disabled="!location_id"

                                                    ></v-autocomplete>
                                                </v-col>

                                                <v-col cols="12" sm="6" md="4">
                                                    <v-autocomplete v-model="bitacora.affectation_type_id"
                                                                    :items="affectation_types"
                                                                    :item-text="'name'"
                                                                    :item-value="'id'"
                                                                    :rules="[v => !!v || 'Localidad es requerida']"
                                                                    label="Tipo afectación"
                                                                    required
                                                    >
                                                    </v-autocomplete>
                                                </v-col>

                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" sm="12" md="12">
                                                    <v-textarea
                                                            class="mx-2"
                                                            label="observaciones"
                                                            rows="1"
                                                            prepend-icon="mdi-comment"
                                                            v-model="bitacora.description"
                                                    ></v-textarea>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="onSubmit">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>

                    <template v-slot:item.actions="{ item }">
                        <v-icon
                                small
                                class="mr-2"
                                @click="editItem(item)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon
                                small
                                @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

    import bitacoraService from "@/services/bitacoraService";
    import affectationTypesService from "@/services/affectationTypesService";

    export default {
        name: "Index",
        computed: {
            formTitle () {
                return this.editedIndex == null? 'Nuevo Cobasa' : 'Editar Cobasa'
            },
        },
        data:()=>({
            dialog: false,
            items:[],
            modal2:false,
            menu2:false,
            indexItem:null,
            affectation_types:[],
            location_id:null,
            neighborhoods:[],
            localidades: [
                { name: "Localidad 1", id: 1 },
                { name: "Localidad 2", id: 2 },
                { name: "Localidad 3", id: 3 }
            ],
            telefono:null,
            correo:null,
            bitacora:{
                date:null,
                time:null,
                affectation_type_id:null,
                description:'',
                neighborhood_id:null,
            },
            headers:[
                {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {
                    text: 'Fecha',
                    value: 'date',
                },
                {
                    text: 'Hora',
                    value: 'time',
                },
                {
                    text: 'Barrio',
                    value: 'neighborhood.name',
                },
                {
                    text: 'afectacion',
                    value: 'affectation_type.name',

                },
                {
                    text: 'Descripcion',
                    value: 'description',

                },
                { text: 'Actions',
                    value: 'actions',
                    sortable: false
                }
            ]
        }),
        mounted() {
            this.getItems();
            this.fetchArrays();

        },
        methods:
            {
                async getItems()
                {
                    const items = await bitacoraService.getItems()
                    if(items.data)this.items=items.data

                },
                async onSubmit()
                {

                    const {bitacora}=this
                    if(this.indexItem!=null)
                    {
                        const response = await bitacoraService.edit(bitacora)
                        if(response.success){
                            Object.assign(this.items[this.indexItem], response.data)
                            this.indexItem=null
                        }
                    }else
                    {
                        const response = await bitacoraService.store(bitacora)
                        if(response.success){
                            this.$toast.open({
                              message: "Creado exitosamente",
                              type: "success",
                              duration: 5000,
                              dismissible: true,
                              position:'top-right'
                            })
                            this.items.push(response.data)
                        }
                    }
                    this.dialog=false

                },
                cancel(){
                    this.indexItem=null
                    this.dialog=false
                    console.log(this.indexItem)
                },
                open(){

                    if(this.indexItem==null){
                        this.bitacora={
                            date:null,
                            time:null,
                            affectation_type_id:null,
                            description:'',
                            neighborhood_id:null,
                        }
                    }
                },
                async onLocationChangue(){
                    const data= await this.axios.get('api/neighborhoods-filter?location_id='+this.location_id)
                    this.neighborhoods=data.data.data;
                },
                async editItem (item) {
                    this.location_id=item.neighborhood.location_id
                    console.log(this.location_id)
                    const data= await this.axios.get('api/neighborhoods-filter?location_id='+this.location_id)
                    this.neighborhoods=data.data.data;
                    this.indexItem = this.items.indexOf(item)
                    this.bitacora={
                            date:item.date,
                            time:item.time,
                            affectation_type_id:item.affectation_type_id,
                            description:item.description,
                            neighborhood_id:item.neighborhood_id,
                            id:item.id
                    }
                    this.dialog=true
                },
                async deleteItem (item) {
                    const index = this.items.indexOf(item)
                    confirm('Esta usted seguro?')
                    const respone = await bitacoraService.delete(item)
                    if(respone.success){
                        this.items.splice(index, 1)
                    }
                },
                async fetchArrays()
                {
                    const affectation_types = await affectationTypesService.getItems()
                    this.affectation_types= affectation_types

                }
            },




    }
</script>

<style scoped>

</style>
