<template>
  <v-app>
    <Navbar v-if="$route.name!=='login'"></Navbar>
      <v-main>
        <router-view/>
      </v-main>
  </v-app>


</template>

<script>

  import Navbar from "@/components/Navbar";
  export default {
    name:'App',
    components:{
      Navbar
    }
  }
</script>
<style lang="scss">
  .v-main{
    background: grey;
  }
  body{
    background: grey;
  }
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
