<template>
    <v-container>
        <v-row>
            <v-col>
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="5"
                        class="elevation-1"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Listado de usuarios</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            v-bind="attrs"
                                            v-on="on"
                                    >Nuevo usuario</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">Crear usuario</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="Nombre" v-model="user.name"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="Nombre" v-model="user.lastname"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" md="4">
                                                    <v-autocomplete v-model="user.indentification_type_id"
                                                                    :items="dniTypes"
                                                                    :item-text="'name'"
                                                                    :item-value="'id'"
                                                                    :rules="[v => !!v || 'Localidad es requerida']"
                                                                    label="Tipo de documento"
                                                                    required
                                                    >
                                                    </v-autocomplete>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="documento" v-model="user.dni"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field  label="correo" v-model="user.email"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" md="4">
                                                    <v-autocomplete v-model="user.area_id"
                                                                    :items="areas"
                                                                    :item-text="'name'"
                                                                    :item-value="'id'"
                                                                    :rules="[v => !!v || 'Localidad es requerida']"
                                                                    label="Area"
                                                                    required
                                                    >
                                                    </v-autocomplete>
                                                </v-col>
                                                <v-col cols="12" md="4">
                                                    <v-autocomplete v-model="user.role_id"
                                                                    :items="roles"
                                                                    :item-text="'name'"
                                                                    :item-value="'id'"
                                                                    :rules="[v => !!v || 'Localidad es requerida']"
                                                                    label="Role"
                                                                    required
                                                    >
                                                    </v-autocomplete>
                                                </v-col>
                                                <v-col cols="12" md="3">
                                                    <v-select
                                                            v-model="location_id"
                                                            :items="localidades"
                                                            :item-text="'name'"
                                                            :item-value="'id'"
                                                            :rules="[v => !!v || 'Localidad es requerida']"
                                                            label="Localidad"
                                                            required
                                                            @change="onLocationChangue"
                                                    ></v-select>
                                                </v-col>
                                                <v-col cols="12" md="3">
                                                    <v-autocomplete
                                                            v-model="user.neighborhood_id"
                                                            :items="neighborhoods"
                                                            :item-text="'name'"
                                                            :item-value="'id'"
                                                            :rules="[v => !!v || 'barrio es requerido']"
                                                            label="Barrio"
                                                            required
                                                            :disabled="!location_id"

                                                    ></v-autocomplete>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="dialog = false">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="onSubmit">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>

                    <template v-slot:item.actions="{ item }">
                       <v-icon
                                small
                                @click="deleteItem(item)"
                       >
                            mdi-delete
                        </v-icon>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
   import userService from "@/services/userService";
   import roleService from "@/services/roleService";
   import groupService from "@/services/groupService";
   import dniTypeService from "@/services/dniTypeService";

    export default {
        name: "Index",
        data:()=>({
            dialog: false,
            items:[],
            indexItem:null,
            areas:[],
            roles:[],
            dniTypes:[],
            location_id:null,
            neighborhoods:[],
            localidades: [
                { name: "Localidad 1", id: "1" },
                { name: "Localidad 2", id: "2" },
                { name: "Localidad 3", id: "3" }
            ],
            user:{
                indentification_type_id:null,
                area_id:null,
                role_id:null,
                email:null,
                name:null,
                lastname:null,
                dni:null,
                neighborhood_id:null
            },
            item:{
                name:''
            },
            headers:[
                {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {
                    text: 'Nombre',
                    value: 'name',
                },
                {
                  text: 'Area',
                  value: 'areas[0].name',

                },
                {
                    text: 'Role',
                    value: 'roles[0].name',


                },
                { text: 'Actions',
                  value: 'actions',
                  sortable: false
                }
            ]
        }),
        mounted() {
            this.getItems();
            this.fetchArrays();
        },
        methods:
            {
                async getItems()
                {
                    const items = await userService.getUsers()
                    this.items=items.data
                },
                async onSubmit()
                {
                    const {user}=this
                    if(this.indexItem)
                    {
                        const response = await userService.edit(user)
                        if(response.success){
                            this.items[this.indexItem]=response.data
                        }
                    }else
                    {
                        const response = await userService.store(user)
                        if(response.success){
                            this.items.push(response.data)
                        }
                    }
                    this.dialog=false

                },
                async onLocationChangue(){
                    const data= await this.axios.get('api/neighborhoods-filter?location_id='+this.location_id)
                    this.neighborhoods=data.data.data;
                },
                async editItem (item) {
                    this.item = item
                    this.dialog = true
                    this.indexItem = this.items.indexOf(item)

                },
                async deleteItem (item) {
                    const index = this.items.indexOf(item)
                    confirm('Esta usted seguro?')
                    const respone = await userService.delete(item)
                    if(respone.success){
                        this.items.splice(index, 1)
                    }
                },
                async fetchArrays()
                {
                    const roles = await roleService.getRoles()
                    const areas = await groupService.getGroups()
                    const dniTypes = await dniTypeService.getDniType()
                    this.roles = roles.data
                    this.areas = areas.data
                    this.dniTypes= dniTypes.data
                }

            }
    }
</script>

<style scoped>

</style>
